div.iconContainer { 
    display: none;
}

div.homeBtnContainer {
    margin: 2px 5px;
}

div.pagesMenuContainer, div.snsMenuContainer {
    display: flex;
    flex-direction: row;
}

div.linkContainer:hover {
    font-style: italic;
}

div.linkContainer, div.snsContainer {
    margin: 2px 10px;
}

nav.navbar2 {
    padding: 0 10px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    font-size: 22px;
    position: relative;
}

div.snsContainer i {
    font-size: 18px;
}


@media (max-width: 768px) {
    div.pagesMenuContainer, div.snsMenuContainer {
        display: none;
    }

    div.iconContainer { 
        display: flex;
        font-size: 18px;
        padding-right: 6px;
    }

    div.pagesMenuContainer.active, div.snsMenuContainer.active {
        display: flex;
    }

    div.pagesMenuContainer.active {
        flex-direction: column;
        position: absolute;
        transform: translate(-50%, 0); 
        left: 50vw;
        top: 53px;
        padding: 12px 28px;
        width: 100%;
        text-align: center;
        background-color: white;
        z-index: 100;
    }

    div.snsMenuContainer.active {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50vw;
        margin: 5px auto;
        top: 25vh;
        padding: 10px;
        width: 100%;
        justify-content: center;
        background-color: white;
        z-index: 100;
        border-bottom: black 1px solid;
    }
}


@font-face {
    font-family: 'tex_gyre_herosregular';
    src: url('texgyreheros-regular-webfont.eot');
    src: url('texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-regular-webfont.woff2') format('woff2'),
         url('texgyreheros-regular-webfont.woff') format('woff'),
         url('texgyreheros-regular-webfont.ttf') format('truetype'),
         url('texgyreheros-regular-webfont.svg#tex_gyre_herosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'tex_gyre_herosregular', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
